/*
	Author	:	Christopher Robinson
	Email		:	christopher@edg3.co.uk
	Website	:	http://www.edg3.co.uk/
	
	Colors modified by Sarah Ruhlman September 2015
*/
* {
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}

body {
  background: #000;
  color: #CCC;
  font: 0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;
}

#header {
  height: 80px;
  margin: 0 auto;
  width: 940px;
  padding-bottom: 100px;
  padding-top: 50px;
}

#header h1 {
  color: #999;
  font-size: 300%;
  letter-spacing: -3px;
  text-align: right;
  padding: 5px;
  margin-bottom: -20px;
}

#header h3 {
  color: #CCC;
  font-size: 130%;
  letter-spacing: -2px;
  text-align: right;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#navigation {
  background: #093;
  border-right: 1px solid #999;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  margin: 0 auto;
  width: 750px;
  height: 40px;
  list-style: none;
}

#navigation li {
  border-left: 1px solid #999;
  float: left;
  width: 149px;
  list-style: none;
}

#navigation a {
  color: #FFF;
  display: block;
  line-height: 40px;
  text-align: center;
}

#navigation a:hover {
  background: #036;
  color: #06F;
}

#navigation .active {
  background: #033;
  color: #0CF;
}

#content {
  height: auto;
  margin: 0 auto;
  padding: 0 0 20px;
  width: 900px;
}

#content h1 {
  font-size: 1.8em;
  padding: 20px 0 0;
  padding-bottom: 10px;
}

#content p {
  padding: 20px 20px 0;
}

#footer {
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 900px;
}

#footer h3 a {
  color: #FFF;
  text-align: center;
}

#footer h3 a:hover {
  color: #06F;
}

.error, .ad {
  font-weight: bold;
  color: #C00;
}

input, select, .input {
  padding: 5px;
  font-weight: bold;
  font-size: 1em;
  color: #008040;
  background: #FFF;
  border: 1px dotted #004080;
}
